<div class="product">
    {#{{$producto->categoria->nombre}}#}
    <a href="{{ path('productover',{'id': producto.id})}}">
        {# <img src="{{ route('productoimagen',['nombre_imagen'=>$producto->imagen])}}" /> #}
        <h2>{{producto.nombre}}</h2>
    </a>
    <p>Precio : ${{producto.precio}}</p>
    <p>Stock : {{producto.stock}}</p>
    {% if producto.stock >0 %}
         <a href="{{ path('carritoadd',{'id': producto.id}) }}" class="button">Comprar</a>
    {% else %}
          <h3>Sin stock</h3>
    {% endif %}
</div>