<!DOCTYPE HTML>
<html lang="es">
<head>
      <meta charset="utf-8" />
      <title>{% block titulo %}{% endblock %}</title>
      <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
</head>
<body>
<div id="container">

    {{ include('base/header.html.twig') }}

    {{ include('base/menu.html.twig') }}

      <div id="content"><!-- BARRA LATERAL -->

          {{ include('base/aside.html.twig') }}

          {% block contenidocentral %}{% endblock %}

      </div>

      {{ include('base/footer.html.twig') }}

</div>
</body>
</html>