<!DOCTYPE HTML>
<html lang="es">

{{ include('base/head.html.twig') }}

<body>
<div id="container">

    {#
    {{ include('base/header.html.twig') }}

    {{ include('base/menu.html.twig') }}


    <div id="content"><!-- BARRA LATERAL -->

        {{ include('base/aside.html.twig') }}

        {% block contenidocentral %}{% endblock %}

    </div>

    {{ include('base/footer.html.twig') }}


    #}

</div>
</body>
</html>