{% extends 'base/layout.html.twig' %}

{% block titulo %}
    Detalle de Pedido
{% endblock %}

{% block contenidocentral %}
<!-- CONTENIDO CENTRAL -->
<div id="central"><h1>Detalle del pedido</h1>
    {% if app.session.get('usuario').rol=="admin" %}
    <h3>Cambiar estado del pedido</h3>
    <form action={{ path('pedido_estado') }} method="POST">
        <input type="hidden" value={{pedido.getId}} name="id"/>
        <select name="estado">
            <option value="Pendiente" selected>Pendiente</option>
            <option value="En preparación" >En preparación</option>
            <option value="Preparado para enviar" >Preparado para enviar</option>
            <option value="Enviado" >Enviado</option>
        </select>
        <input type="submit" value="Cambiar estado" />
    </form>
    <br/>
    {% endif %}
    <h3>Dirección de envio</h3>
    Provincia: {{pedido.getProvincia}}   <br/>
    Cuidad: {{pedido.getLocalidad}} <br/>
    Direccion: {{pedido.getDireccion}}   <br/><br/>
    <h3>Datos del pedido:</h3>
    Estado: {{pedido.getEstado}} <br/>
    Número de pedido: {{pedido.getId}}   <br/>
    Total a pagar: {{pedido.getCoste}} $ <br/>
    Productos:
    <table>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Unidades</th>
        </tr>
        {{ include('base/lista_productos_en_pedido.html.twig') }}
    </table>
</div>
{% endblock %}
