{% extends 'base/layout.html.twig' %}

{% block titulo %}
    Gestion de Producto
{% endblock %}

{% block contenidocentral %}
<!-- CONTENIDO CENTRAL -->
<div id="central">
    {% if producto is defined %}
        <h1>Editar producto {{producto.getNombre}}</h1>
    {% else %}
        <h1>Alta de producto</h1>
    {% endif %}
    <div class="form_container">
        {% if producto is defined %}
           <form action={{ path('productosave',{'id':producto.getId}) }} method="POST" enctype="multipart/form-data">
        {% else %}
            <form action={{ path('productosave') }} method="POST" enctype="multipart/form-data">
         {% endif %}
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" value={{ producto.getNombre ??  '' }}>
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion">{{ producto.getDescripcion ??  '' }}</textarea>
                <label for="precio">Precio</label>
                <input type="text" name="precio" value={{ producto.getPrecio ??  '' }}>
                <label for="stock">Stock</label>
                <input type="number" name="stock" value={{ producto.getStock ??  '' }}>
                <label for="categoria">Categoria</label>
                <select name="categoria">
                    {% for categoria in categorias %}
                        {% if producto is defined %}
                          <option value={{categoria.getId}} {{ (categoria.getId==producto.getCategoria.getId) ? 'selected' : '' }}>{{ categoria.getNombre }}</option>
                        {% else %}
                           <option value={{categoria.getId}}>{{ categoria.getNombre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="imagen">Imagen</label>
                {% if producto is defined %}
                   <img src="{{ path('productoimagen',{'nombre_imagen': producto.getImagen})}}" class="img_carrito"/>
                {% endif %}
                <input type="file" name="imagen" />
                <input type="submit" value="Guardar" />
            </form>
    </div></div>
{% endblock %}