{% extends 'base/layout.html.twig' %}

{% block titulo %}
    Gestion de Pedidos
{% endblock %}

{% block contenidocentral %}
<!-- CONTENIDO CENTRAL -->

<div id="central">	<h1>Gestionar pedidos</h1>

    {% for validado in app.session.flashbag.get('id') %}
        {% if validado %}
          <strong class="alert_green">Pedido {{ validado }} modificado</strong>
        {% endif %}
    {% endfor %}
    <table>
        <tr>
            <th>Nº Pedido</th>
            <th>Coste</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Usuario</th>
        </tr>
        {% for pedido in pedidos %}
        <tr>
            <td>
                <a href={{path('pedidodetalle',{'id':pedido.getId})}}>{{pedido.getId}}</a>
            </td>
            <td>
                ${{pedido.getCoste}}
            </td>
            <td>
               aaa
            </td>
            <td>
                {{pedido.getEstado}}
            </td>
            <td>
                {{pedido.getUsuario.getNombre}}
            </td>
        </tr>
        {% endfor %}
    </table></div>
{% endblock %}
