{% extends 'base/layout.html.twig' %}

{% block titulo %}
    Gestion de Productos
{% endblock %}

{% block contenidocentral %}
<!-- CONTENIDO CENTRAL -->
<div id="central"><h1>Gestión de productos</h1>
    {% for altaproducto in app.session.flashbag.get('altaproducto') %}
        {% if altaproducto %}
            <strong class="alert_green">Producto {{ altaproducto }} creado</strong>
        {% endif %}
    {% endfor %}
    {% for updateproducto in app.session.flashbag.get('updateproducto') %}
        {% if updateproducto %}
            <strong class="alert_green">Producto {{ updateproducto }} modificado</strong>
        {% endif %}
    {% endfor %}
    {% for productoborrado in app.session.flashbag.get('productoborrado') %}
        {% if productoborrado %}
            <strong class="alert_green">Producto {{ productoborrado }} borrado</strong>
        {% endif %}
    {% endfor %}
    <a href={{ path('productocrear') }} class="button button-small">
    Crear producto
    </a>
    <table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>ACCIONES</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{producto.getId}}</td>
            <td>{{producto.getNombre}}</td>
            <td>{{producto.getPrecio}}</td>
            <td>{{producto.getStock}}</td>
            <td>
                <a href={{ path('productoeditar',{'id':producto.getId}) }} class="button button-gestion">Editar</a>
                <a href={{ path('productoeliminar',{'id':producto.getId}) }} class="button button-gestion button-red">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}