{% extends 'base/layout.html.twig' %}

{% block titulo %}
    Listar Carrito
{% endblock %}

{% block contenidocentral %}
    <div id="central"><h1>Carrito de la compra</h1>
        {% if carrito|length >0 %}
            {% if(app.session.get('errorenstock')) %}
                <strong class="alert_green">No hay stock de algunos productos, revise</strong>
            {% endif %}
            <table>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Unidades</th>
                    <th>Eliminar</th>
                </tr>
                {% set total = 0 %}
                {% for indice,elemento in carrito %}
                 <tr>
                        <td>
                            {% if(elemento.imagen != null) %}
                                <img src="{{ path('productoimagen',{'nombre_imagen': elemento.imagen})}}" class="img_carrito"/>
                            {% else %}
                                <img src="{{ path('productoimagen',{'nombre_imagen': "camiseta.png"})}}" class="img_carrito"/>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('productover',{'id': elemento.id})}}"> {{elemento.nombre}}</a>
                        </td>
                        <td>
                            {{elemento.precio}}
                        </td>
                        <td>
                            {{ elemento.unidades }}
                            <div class="updown-unidades">
                                <a href="{{ path('carritoup',{'indice_en_carrito': indice}) }}" class="button">+</a>
                                <a href="{{ path('carritodown',{'indice_en_carrito': indice}) }}" class="button">-</a>
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('carritodelete',{'indice_en_carrito': indice }) }}" class="button button-carrito button-red">Quitar producto</a>
                        </td>
                    </tr>
                    {% set total = total+(elemento.unidades*elemento.precio) %}
                {% endfor %}
            </table>
            <br/>
            <div class="delete-carrito">
                <a href="{{ path('carritodeleteall') }}" class="button button-delete button-red">Vaciar carrito</a>
            </div>
            <div class="total-carrito">
                <h3>Precio total: {{total}}$</h3>
                <a href="{{ path('pedidohacer') }}" class="button button-pedido">Hacer pedido</a>
            </div>
        {% else %}
            <p>El carrito está vacio, añade algun producto</p>
        {% endif %}
    </div>
{% endblock %}